body{
    background-color: silver;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.table{
    width: 80%;
    margin: 15px auto;
    border: 3px solid black;
    box-shadow: 0 0 10px gray;
    border-collapse: collapse;
}

.table td, th{
    border-bottom: 1px solid gray;
    padding: 6px;
}

.table thead{
    background-color: slategray;
}

.table tbody>tr>td:last-child{
    text-align: right;
}


.table tbody tr:hover{
    cursor: pointer;
    background-color: rgb(86, 90, 94);
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    
}


.table tfoot{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}


#container{
    background-color: white;
    box-shadow: 0 0 10px gray;
    height: 100vh; 
    padding: 15px;
    width: 60%;
    margin: 0 auto;
}

/*media query-k

